body{
   font-family: 'Rubik', sans-serif;
}


.container-navbar__content{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
}
.boton-navbar{
    align-self: center;
}
.btn-green{
    background-color: #32CD32;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    padding: 7px 1.75rem; 
}
.btn-green:hover{
    background-color: white;
    border: 2px solid #32CD32;
    color: #32CD32;

}
.nav-link{
    color: #808080;
    font-weight: 800;
}
.nav-link:hover{
    color:  #32CD32;
}
.nav-item{
    padding-right: 20px;
}
.img-position{
    position: absolute;
    bottom: -2px;
    width: 100%;

}
.container-ilustration{
    position: relative;
    background: #0f5caf;
    background: rgba(54,137,231,1);
    background: -moz-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,137,231,1)), color-stop(100%, rgba(8,50,87,1)));
    background: -webkit-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -o-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: linear-gradient(to right, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);

    height: 100vh;
}
.img-ilustracion{
    width: 36rem;
}
.title-main{
    font-size: 43px;
    color: white;
    font-weight: 800;
}
.content-image{
 display: flex;
 align-items: center;
 justify-content: space-around;
 height: 100%;

}
.text-main{
    text-align: right;
    font-size: 27px;
    color: white;
}
.boton-main{
    display: flex;
    justify-content: flex-end;
}
.container-alimentos__title{
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.title-alimentos{
    font-size: 40px;
    color:  #1E90FF;
    font-weight: 800;
}
.alimentos-palabra{
    color: #32CD32;
    font-size: 20px;
    font-weight: 800;
}
.container-alimentos{
    padding-top: 65px;
    padding-bottom: 107px;
}
.card-alimentos{
    width: 195px;

}
.card-text__alimentos{
    font-size: 13px;
    margin-top: -8px;
    padding-left: 10px;
}
.titulo-alimentos{
    background-color: #32CD32;
    color: white;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    box-shadow: -1px 9px 18px 0 rgba(75,81,91,.1);
}
.card-alimentos2{
    width: 22rem;
    height: 24rem;
    position: relative;



}
.card-alimentos3{
    width: 22rem;
    height: 24rem;
    position: relative;
}
.img-alimentos2{
    width: 352px;
    height: 358px;
}
.card-title__alimentos{
    padding-left: 10px;
    font-size: 18px;

}
.container-etiqueta{
 background-color: #1E90FF;
 color: white;
 position: absolute;
 width: 52%;
 text-align: center;
 height: 8%;
 bottom: 353px;
 /* z-index: -21; */
 font-weight: 800;
 /* position: absolute; */
 left: 169px;
 padding: 3px;
}
.container-alimentos__content2{



}
.container-alimentos__content{
   /* display: grid;
   grid-template-columns: 2fr 1fr;*/
   grid-gap: 45px;
   padding-top: 100px;
   display: flex;
}
.main-banner__alimentos{
    width: 95%;
}
.container-alimentos__descripcion{
    width: 63%;
}
.img-alimentos{
    width: 194px;
    height: 146px;
}
.container-carnes{
    background: #0f5caf;
    position: relative;
    background: rgba(54,137,231,1);
    background: -moz-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,137,231,1)), color-stop(100%, rgba(8,50,87,1)));
    background: -webkit-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -o-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: linear-gradient(to right, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);

}

.container-carnes .slick-dots li.slick-active button:before {
    background: #32CD32;
}


.container-carnes .slick-dots li button:before {
    background: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.container-carnes .slick-dots li {
  width: 10px;
  height: 10px;
}
.slick-next {
    right: 11px;
    top: 121px;
}
.container-carnes .slick-prev:before, .container-carnes .slick-next:before {
    /* display: inline-block; */
    font: normal normal normal 14px/1 FontAwesome;
    /* font-size: inherit; */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-carnes .slick-prev:before {
    content: '\f053';
}


.container-carnes .slick-next:before {
    content: '\f054';
}



.container-carnes__content{
    display: flex;
    
}
.img-position2{
    bottom: 0px;
    position: absolute;
    width: 207vh;
    height: 27vh;
    top: -2px;
    left: 3px
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    top: 100px;
    left: 38px;
}
.main-banner__carnes{
    width: 61%;
}
.container-carnes__text{
    align-self: center;
    padding-top: 100px;
}
.title-carnes{
    font-size: 35px;
    color: white;
    font-weight: 800;
}
.text-carnes{
    color: white;
    padding-top: 40px;
}
.container-carnes{
    padding-bottom: 100px;
    padding-top: 30px;
}
.container-lacteos__content{
    grid-gap: 40px;
    padding-top: 50px;
    display: flex;
}
.container-lacteos{
    padding-top: 100px;
    padding-bottom: 69px;
}
.card-body__carnes{
    background: white;
}
.card-body__destacado{
    display: flex;
}
.card-img__destacado{
    height: 382px;
    width: 488px;
}
.card-img__destacado1{
    width: 247px;
    height: 158px;
}
.container-lacteos__destacado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
    padding-top: 60px;
}
.container-producto__lacteos{
    background-color: #0f5caf;
    padding-top: 30px;
    position: relative;
    height: 100vh;
    background: rgba(54,137,231,1);
    background: -moz-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,137,231,1)), color-stop(100%, rgba(8,50,87,1)));
    background: -webkit-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -o-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: linear-gradient(to right, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);


}
.title-destacado{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.text-destacado{
    color: white;
    padding-top: 40px;
}
.card-destacado{
    width: 18rem;
    position: relative;

}
.container-etiqueta__green{
    background-color: #32CD32;
    color: white;
    text-align: center;
    position: absolute;
    height: 28px;
    width: 200px;
    padding: 2px;
    bottom: 354px;
    left: 288px;
}
.container-etiqueta__green2{
 background-color: #32CD32;
 color: white;
 text-align: center;
 position: absolute;
 height: 28px;
 width: 109px;
 padding: 2px;

 left: 109px;
}
.container-etiqueta__green3{
    background-color: #32CD32;
    color: white;
    text-align: center;
    position: absolute;
    height: 28px;
    width: 109px;
    padding: 2px;

    left: 356px;
}
.img-position2{

}
.container-snack__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container-alimentos__text{
    margin-bottom: -3rem;
}
.container-form {
    padding-top: 100px;
    background-color: #0f5caf;
    background: rgba(54,137,231,1);
    background: -moz-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,137,231,1)), color-stop(100%, rgba(8,50,87,1)));
    background: -webkit-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -o-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    background: linear-gradient(to right, rgba(54,137,231,1) 0%, rgba(8,50,87,1) 100%);
    position: relative;
    padding-bottom: 40px;

}
.form-register{
    display: flex;
    justify-content: center;
}
input[type="name"],
[type="last-name"],
[type="email"],
[type="phone"]{
    display: block;
    width: 140%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #cddae6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.form-group{
    padding-right: 95px;
}
.form-register1{
 display: flex;
 justify-content: center;
 padding-top: 10px;
}
.container-form__title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: 800;
}
.form-mensajes{
    margin-left: 240px;

}
.form-control2{
    display: block;
    width: 81%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;

    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container-snack{
    padding-bottom: 130px;
}
.container-form__content{
    padding-top: 40px;
}
.boton-form{
    display: flex;
    justify-content: flex-end;
    width: 79%;
}
.container-final__content{
    display: grid;
    grid-template-columns: 500px 2fr 1fr;
    padding-top: 50px;
}
.container-final{
    background-color: #134779;
}
.title-final{
    font-weight: 800;
    font-size: 35px;
    color: white;
}
.text-final{
    font-size: 13px;
    color: white;
    margin-left: 18px;
    margin-top: -22px;
}
.boton-lista{
    padding-top: 40px;
    margin-left: 17px;
}
.items-final{
    list-style-type: none;
    color: white;
}
.img-lacteos{
    width: 172px;
    height: 184px;
}
.container-alimentos__content3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    padding-top: 134px;
}
.img-bebida{
    width: 172px;
    height: 187px;
}
.img-snack{
    width: 172px;
    height: 197px;
}
.img-destacado__queso{
    width: 352px;
    height: 269px;
}
.descripcion-queso{
    margin-left: 40px;
}
.img-destacado__bebida{
    width: 352px;
    height: 318px;
}
.container-alimentos__destacados2{
    padding-top: 91px; 
}
.container-alimentos__destacados3{
  padding-top: 91px; 
  padding-left: 40px;
}
.container-descripcion__snack{
    padding-top: 121px;
    text-align: center;
    font-weight: 800;
}
.link-final{
    color: white;

}
.link-final:hover{
    color:#32cd32; 
    text-decoration: none;

}
.link-boton{
    background-color: #32CD32;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    padding: 7px 1.75rem;
}
.link-boton:hover{
    background-color: white;
    border: 2px solid #32CD32;
    color: #32CD32;
    text-decoration: none;

}
.lista-final{
    line-height: 44px;
}
@media (min-width: 0px) and (max-width: 767px){
    .img-ilustracion{
        width: 200px;

    }
    .content-image{
        display: block;
        text-align: center;
    }
    .title-main{
        font-size: 26px;
    }
    .text-main{
        font-size: 20px;
        text-align: center;
    }
    .boton-main{
        display: flex;
        justify-content: center;
    }
    .container-ilustration{
        padding-top: 20px;
    }
    .container-alimentos__title{
     margin-bottom: 0px;

 }
 .container-alimentos__text{
    padding-bottom: 41px;
}
.container-alimentos__content{
   display: block;
   padding-top: 0px;
}
.container-alimentos__content2{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
}
.descripcion{
    font-size: 15px;
}
.card-alimentos{
    width: 290px;
}
.img-alimentos{
    width: 289px;
}
.boton-navbar{
    display: none;
}
.card-alimentos2{
    width: 294px;
}
.card-alimentos3{
    width: 281px;
}
.img-alimentos2{
    width: 290px;
    height: 311px;
}
.container-etiqueta{
    background-color: #1E90FF;
    color: white;
    position: absolute;
    width: 63%;
    text-align: center;
    height: 8%;
    bottom: 353px;
    /* z-index: -21; */
    font-weight: 800;
    /* position: absolute; */
    left: 105px;
    padding: 3px;
}
.container-carnes__content{
    display:block;
}
.img-position2 {
    bottom: 0px;
    position: absolute;
    width: 91vh;
    height: 27vh;
    top: -1px;
    left: 3px;

}
.container-carnes__text{
    padding-top: 0px;
}
.text-carnes{
    padding-top: 0px;
}
.container-lacteos__content{
    display: grid;
    grid-template-columns: 1fr;
}
.container-lacteos__destacado{
    display: block;
    padding-top: 0px;
}
.text-destacado{
    padding-top: 0px;
    font-size: 14px;
}
.card-img__destacado{
    width: 290px;
    height: 150px;
}
.card-body__destacado{
    display: none;
}
.title-destacado{
    font-size: 30px;
}
.container-etiqueta__green{
    background-color: #32CD32;
    color: white;
    text-align: center;
    position: absolute;
    height: 28px;
    width: 146px;
    padding: 2px;
    bottom: 394px;
    left: 159px;
}
.form-register{
    display: block;

}
.form-register1{
    display: block;
    padding-top: 0px;

}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    
    left: 4px;
}
.main-banner__carnes {
    width: 97%;
}
.main-banner__alimentos{
 width: 97%;
}
.container-carnes .slick-prev:before {
    content: '\f053';
    display: none;
}


.container-carnes .slick-next:before {
    content: '\f054';
    display: none;
}
.container-alimentos__content3 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 70px;
    padding-top: 0px;
}
.container-bebidas__img{
    display: flex;
    justify-content: center;
}
.container-lacteos__img{
    display: flex;
    justify-content: center;
}
.container-snack__img{
    display: flex;
    justify-content: center;
}
.form-control2 {
    display: block;
    width: 140%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* height: 100%; */
    height: 116px;
}
.form-mensajes {
   margin-left: 0px;
}
.boton-form {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}
.container-final__title{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container-final__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.boton-lista{
    padding-top: 0px;
}
.container-final__lista{
    padding-top: 29px;
}
.container-alimentos__destacados{
    grid-row-start: 2;
    padding-top: 91px;
}
.container-alimentos__descripcion{
    width: 95%;
}
.container-lacteos__content{
    display: block;
}
.container-alimentos__destacados3{
    padding-top: 0px;
    padding-left: 0px;
}
.container-alimentos{
    padding-bottom: 148px;
}
.container-destacado__img{

    justify-content: center;
}
.descripcion-queso{
    padding-top: 109px;
    margin-left: 0px;
}
.container-alimentos__destacados2{
    padding-top: 0px;
}
.img-destacado__queso {
    width: 291px;
    height: 358px;
}
.img-destacado__bebida {
    width: 242px;
    height: 318px;
}
}



@media (min-width: 768px) and (max-width: 991px){
    .content-image{
        display: block;
        text-align: center;
    }
    .text-main{
        text-align: center;

    }
    .boton-main{
        display: flex;
        justify-content: center;
    }
    .container-ilustration{
        padding-top: 50px;
    }
    .container-alimentos__content{
        display: block;
    }
    .container-alimentos__descripcion{
        width: 95%;
    }
    .container-alimentos__destacados{
        padding-top: 88px;
    }
    .container-lacteos__content{
        display: block;
    }
    .container-alimentos__destacados2{
        padding-top: 0px;
    }
    .container-lacteos__destacado {
        display: block;
    }
    .card-destacado {
        width: 18rem;
        position: relative;
        padding-top: 76px;
        padding-left: 88px;
    }
    .container-etiqueta__green {
        background-color: #32CD32;
        color: white;
        text-align: center;
        position: absolute;
        height: 28px;
        width: 200px;
        padding: 2px;
        bottom: 354px;
        left: 377px;
    }
    .form-mensajes {
        margin-left: 29px;
    }
    .form-control2 {
        display: block;
        width: 111%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 110px;
    }
    .boton-form {
        display: flex;
        justify-content: flex-end;
        width: 96%;
    }
    .container-final__content {
        display: grid;
        grid-template-columns: 280px 1fr 1fr;
        padding-top: 50px;
    }

}